.inspect-content-text {
    display: block;
    width: 100%;
    height: 600px;
    border: none;
    background: #001d29;
}

.inspect-content-image {
    display: block;
    max-width: 100%;
}

.inspect-content-download {
    margin: 5px;
}

/* Workaround for react-datetime */
.rdt {
    display: inline;
}
.rdtPicker {
    color: black;
}