<!doctype html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>quasardb administation console</title>
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>
    	<div id="root">
            Loading, please wait.
        </div>
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>